<div class="container">
  <div class="row justify-content-center">
    <div class= "col-10 shadow p-3 mb-3 bg-light rounded">
      <%= render 'shared/errors' %>
        <%= form_with(model: @article, local: true) do |f| %>
          <div class = "from-group row">
            <%= f.label :title, class: "col-2 col-form-label" %>
            <div class="col-10">
              <%= f.text_field :title, class: "form-control shadow runded", placeholder: "Title of Article" %>
            </div>
          </div>
          <div class= "form-group row">
            <%= f.label :description, class: "col-2 col-form-label" %>
            <div class="col-10">
              <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of Article" %>
            </div>
          </div>
          <div class= "form-group row justify-content-center">
            <%= f.submit class: "btn btn-outline-dark btn-rd" %>
          </div>
          <% end %>
        </div>
      <div class="mb-3">
        <%= link_to '[ Cancle edit & Return to Articles Listing ]', articles_path, class: "text-dark" %>
      </div>
    </div>
  </div>